<center><img style="width:100%; max-width:620px;" src="http://www.californiahomedesign.com/sites/default/files/styles/blog_large/public/blog/nema-sf-bedroom.jpg?itok=2NuhuP5-">

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Price</th>
      <th>Unit</th>
      <th>Sqft</th>
      <th>Windows</th>
      <th>Updated</th>
      <!-- <th>Bath</th> -->
      <!-- <th>Bed</th> -->
      <!-- <th></th>
      <th></th>
      <th></th> -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr class="<% if !listing.is_active %>inactive<% end %>">
        <!-- <td><%= listing.id %></td> -->
        <td><%= link_to "$#{listing.latest_price}", listing_rents_path(listing) %></td>
        <td><%= "#{listing.floor}#{listing.unit}" %></td>
        <td><%= listing.sqft %></td>
        <td>
          <% if listing.left_window != nil %>
            <% if listing.left_window %>🖼<% else %>—<% end %>
            <% if listing.middle_window %>🖼<% else %>—<% end %>
            <% if listing.right_window %>🖼<% else %>—<% end %>
          <% end %>
        </td>
        <td><%= time_ago_in_words(listing.rents.last.fetch_date) %></td>
        <!-- <td><%= listing.bath %></td> -->
        <!-- <td><%= listing.bed %></td> -->
        <!-- <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'History', listing_rents_path(listing) %></td>-->
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <!--<td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %> |
<a href="/listings/pull">Pull</a> | <a href="http://rentnema.com/pdf/FloorPlatesALL.pdf">Floor Plates</a>
</center>
