<h1>Rent History</h1>

<script type="text/javascript">
data = {
  labels: [""<% @rents.each do |rent| %>, "<%= time_ago_in_words(rent.fetch_date) %>"<% end %>],
  datasets: [
      {
          label: "Rent History",
          fillColor: "rgba(220,220,220,0.2)",
          strokeColor: "rgba(220,220,220,1)",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [<%= @rents[0].price %><% @rents.each do |rent| %>, <%= rent.price %> <% end %>]
      }
    ]
  }


</script>

<canvas id="myChart" width="400" height="400"></canvas>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>Fetch date</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= link_to "#{@listing.floor}#{@listing.unit}", @listing %></td>
        <td><%= time_ago_in_words(rent.fetch_date) %></td>
        <td>$<%= rent.price %></td>
        <!-- <td><%= link_to 'Show', listing_rent_path(rent.listing_id, rent) %></td>
        <td><%= link_to 'Edit', edit_listing_rent_path(rent.listing_id, rent) %></td>
        <td><%= link_to 'Destroy', [@listing, rent], method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent', new_listing_rent_path(@listing) %>
