

<script type="text/javascript">
  var data = {
    labels: [""<% @rents.each do |rent| %>, "<%= time_ago_in_words(rent.fetch_date) %>"<% end %>],
    datasets: [
      {
          label: "Rent History",
          fillColor: "rgba(220,220,220,0.2)",
          strokeColor: "rgba(220,220,220,1)",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [<%= @rents[0].price %><% @rents.each do |rent| %>, <%= rent.price %> <% end %>]
      }
    ]
  }
</script>
<center>
<canvas id="myChart" style="width:100%; max-width:620px;"></canvas>

<h1>Rent History</h1>
<table>
  <thead>
    <tr>
      <th>Fetch date</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>

        <td><%= time_ago_in_words(rent.fetch_date) %></td>
        <td>$<%= rent.price %></td>
        <!-- <td><%= link_to 'Show', listing_rent_path(rent.listing_id, rent) %></td>
        <td><%= link_to 'Edit', edit_listing_rent_path(rent.listing_id, rent) %></td>
        <td><%= link_to 'Destroy', [@listing, rent], method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<h3><%= link_to "#{@listing.floor}#{@listing.unit}", @listing %></h3>
<span style="font-size:24pt;">
  <% if @listing.left_window %>🖼<% else %>—<% end %><% if @listing.middle_window %>🖼<% else %>—<% end %><% if @listing.right_window %>🖼<% else %>—<% end %>
</span>
</div>

<br>

<%= link_to 'New Rent', new_listing_rent_path(@listing) %>
</center>
